<template>
  <div class="card shadow" :class="type === 'dark' ? 'bg-default': ''">
    <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent': ''">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0" :class="type === 'dark' ? 'text-white': ''">{{title}}</h3>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <base-table
        :fields="fields"
        striped hover 
        class="table align-items-center table-flush"
        :class="type === 'dark' ? 'table-dark': ''"
        :thead-classes="type === 'dark' ? 'thead-dark': 'thead-light'"
        tbody-classes="list"
        :data="fulldata"
      >
        <template slot="columns">
          <th>Veículo</th>
          <th>Data</th>
          <th>Dias</th>
          <th>Área Colhida</th>
          <th>Horas Colhendo</th>
          <th>Horimento</th>
          <th>Consumo/Hora</th>
          <th>Consumo/Tonelada</th>
          <th>Media Tonelada</th>
          <th>Media Velocidade</th>
          <th>Motor Ocioso</th>
          <th>Disponibilidade</th>
          <th>Produtividade</th>
          <th>Toneladas Colhida</th>
          <th>Consumo Diesel</th>
          <th>Total Hid</th>
        </template>

        <template slot-scope="{row}">
          
          <th scope="row">
            <div class="media align-items-center">
              <a href="#" class="avatar rounded-circle mr-3">
                <img alt="Image placeholder" :src="row.img" />
              </a>
              <div class="media-body">
                <span class="name mb-0 text-sm">{{row.veiculo}}</span>
              </div>
            </div>
          </th>
          <td class="budget">{{row.data}}</td>
          <td class="budget">{{row.dias_trabalhando}} dias</td>
          <td class="budget">{{row.ha}} ha</td>
          <td class="budget">{{row.horas_colheita}} horas</td>
          <td class="budget">{{row.horimento}}</td>
          <td class="budget">{{row['litros/hora']}} L</td>
          <td class="budget">{{row.media_tonelada}} L</td>
          <td class="budget">{{row.media_velocidade}}</td>
          <td class="budget">{{row.motor_ocioso}}</td>
          <td class="budget">{{row.p_disponibilidade}} %</td>
          <td class="budget">{{row.p_prudtiva}} %</td>
          <td class="budget">{{row.tonelada}}</td>
          <td class="budget">{{row.tonelada_colheita}}</td>
          <td class="budget">{{row.total_diesel}} L</td>
          <td class="budget">{{row.total_hid}}</td>
        </template>
      </base-table>
    </div>

    <div
      class="card-footer d-flex justify-content-end"
      :class="type === 'dark' ? 'bg-transparent': ''"
    >
      <base-pagination total="30"></base-pagination>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-console */
import { mapState } from 'vuex';
export default {
  computed: mapState({
      count: state => state.count,
      fulldata: state => state.fulldata,
      combustivelTotal: state => state.combustivelTotal,
      totalProduzido: state => state.totalProduzido,
      areaColhida: state => state.areaColhida,
      velocidadeMedia: state => state.elocidadeMedia, 
      tempoParado: state => state.tempoParado, 
      tempoDisponivel: state => state.tempoDisponivel,
      tempoColhendo: state => state.tempoColhendo 
  }),
  name: "projects-table",
  props: {
    type: {
      type: String
    },
    title: String
  },
  data() {
    return {
       fields: [
          {
            key: 'last_name',
            sortable: true
          },
          {
            key: 'first_name',
            sortable: false
          },
          {
            key: 'age',
            label: 'Person age',
            sortable: true,
            // Variant applies to the whole column, including the header and footer
            variant: 'danger'
          }
        ],
      tableData: [
   
      ]
    };
  },
  methods: {
    /*getData() {
      axios.get('').then(response => {
        //console.log(response.data);
        response.data.forEach(element => {
          element.img = "img/theme/MAQ1.png";
          this.tableData.push(element)
        });
      });
    },*/
    initBigChart(index) {
     
      let chartData = {
        datasets: [
          {
            label: "Performance",
            data: this.bigLineChart.allData[index]
          }
        ],
        labels: ["Mai", "Jun", "Jul", "Aug", "Sey", "Out", "Nov", "Dez"]
      };
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    }
  },
  mounted() { //this.getData();
    //this.initBigChart(0);
    //getData();
  }
};
</script>
<style>
</style>
