<template>
  <div>
    <base-header
      class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="min-height: 600px; background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"
    >
      <span class="mask bg-gradient-success opacity-4"></span>
     <!-- <div class="row" v-show="!selecionados || selecionados.length == 0">
        <FadeTransition :duration="200" mode="out-in">
          <div style="    width: 100%;
              display: flex;  
              justify-content: center;
              background: #ffffff9e;
                  flex-direction: column;
              align-items: center;
              height: 600px;
              border-radius: 50px;z-index:1;" >
              <img src="img/theme/maquina.png" class="rounded-circle" />
          <h2>Selecione um Veículo!!</h2>
          </div>
        </FadeTransition>
      </div>-->
      <div class="row" >
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="COMBUSTÍVEL TOTAL GASTO"
            type="gradient-red"
            :sub-title="combustivelTotal.toFixed(2).toString()+' lt'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="ÁREA COLHIDA"
            type="gradient-orange"
            :sub-title="areaColhida.toFixed(2).toString()+' ha'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TOTAL PRODUZIDO"
            type="gradient-green"
            :sub-title="`${totalProduzido.toFixed(2).toString()} ton`"
            icon="fa fa-tint"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="VELOCIDADE MÉDIA"
            type="gradient-info"
            :sub-title="velocidadeMedia.toFixed(2).toString()+' km/h'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO PARADO"
            type="gradient-red"
            :sub-title="tempoParado.toFixed(2).toString()+'%'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO DISPONÍVEL"
            type="gradient-orange"
            :sub-title="tempoDisponivel.toFixed(2).toString()+' %'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO COLHENDO"
            type="gradient-green"
            :sub-title="`${tempoColhendo.toFixed(2).toString()} %`"
            icon="fa fa-tint"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
      </div>
    </base-header>

    <!--Charts-->
    <div class="container-fluid mt--7"  >
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <card type="default" header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-light text-uppercase ls-1 mb-1">Visão geral</h6>
                <h5 class="h3 text-white mb-0">Consumo Máquinario</h5>
              </div>
            </div>
            <canvas id="myChart" width="800" height="300" style="max-height: 300px;"></canvas>
          </card>
        </div>

        <div class="col-xl-4">
          <card header-classes="bg-transparent">
            <div slot="header" class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Atuação</h6>
                <h5 class="h3 mb-0">Potêncial Produtivo</h5>
              </div>
            </div>
            <canvas id="myChart2" width="500" height="350" style="max-height: 350;"></canvas>
          </card>
        </div>
      </div>
      <!-- End charts-->

      <!--Tables-->
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <page-visits-table></page-visits-table>
        </div>
        <div class="col-xl-4">
          <social-traffic-table></social-traffic-table>
        </div>
      </div>
      <!--End tables-->
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</template>
<script>
/* eslint-disable */
// Charts
import * as chartConfigs from "@/components/Charts/config";
import BarChart from "@/components/Charts/BarChart";
import { FadeTransition } from "vue2-transitions";
// Tables
import SocialTrafficTable from "./Dashboard/SocialTrafficTable";
import PageVisitsTable from "./Dashboard/PageVisitsTable";
import { mapState } from "vuex";
import getData from "../service/modules/getData";

import store from "@/store/store";
import Chart from "chart.js";
/* eslint-disable no-console */
export default {
  computed: mapState({
    count: state => state.count,
    selecionados: state => state.selecionados,
    fulldata: state => state.fulldata,
    veiculos: state => state.veiculos,
    combustivelTotal: state => state.combustivelTotal,
    totalProduzido: state => state.totalProduzido,
    areaColhida: state => state.areaColhida,
    velocidadeMedia: state => state.velocidadeMedia,
    tempoParado: state => state.tempoParado,
    tempoDisponivel: state => state.tempoDisponivel,
    tempoColhendo: state => state.tempoColhendo,
    totalp_prudtiva: state => state.totalp_prudtiva,
    consumoMaquinarioGrafico: state => state.consumoMaquinarioGrafico,
    consumoMaquinarioGrafico2: state => {
      return state.consumoMaquinarioGrafico2;
    }
  }),
  components: {
    PageVisitsTable,
    SocialTrafficTable
  },
  watch: {
    selecionados: function(newW) {
      this.initDois();
      this.initTres();
      store.dispatch("setSelecionados", newW);
    },
    consumoMaquinarioGrafico: function(newW) {
      this.initDois();
      this.initTres();
      store.dispatch("setSelecionados", newW);
    }
  },
  data() {
    return {
      myChart: false,
      myChart2: false,
      total_diesel: 0,
      fulldata: [],
      bigLineChart: {
        allData: [
          [0, 20, 10, 30, 15, 40, 20, 60, 60],
          [0, 20, 5, 25, 10, 30, 15, 40, 40]
        ],
        activeIndex: 0,
        chartData: {
          datasets: [],
          labels: []
        },
        extraOptions: chartConfigs.blueChartOptions
      },
      redBarChart: {
        chartData: {
          labels: ["Jul", "Aug", "Set", "Out", "Nov", "Dez"],
          datasets: [
            {
              label: "Sales",
              data: [25, 20, 30, 22, 17, 29]
            }
          ]
        }
      }
    };
  },
  methods: {
    initBigChart(index) {
      this.bigLineChart.allData = [
        this.consumoMaquinarioGrafico[1],
        this.consumoMaquinarioGrafico[1]
      ];

      let chartData = {
        datasets: [
          {
            label: "Consumo",
            data: this.consumoMaquinarioGrafico2.datasets[index]
          }
        ],
        labels: this.consumoMaquinarioGrafico[0]
      };
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
      //console.log("tteee", this.bigLineChart);
    },
    initDois() {
      /* eslint-disable */

      if (this.myChart != false) {
        var oldcanvasid = this.myChart.chart.ctx.canvas.id;
        if ("myChart" == oldcanvasid) {
          this.myChart.destroy();
        }
      }
      var chartData = {
        type: "line",
        options: {
          legend: {
            labels: {
              fontColor: "white"
            }
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  fontColor: "white"
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  fontColor: "white"
                }
              }
            ]
          }
        },
        data: {
          labels: this.consumoMaquinarioGrafico2.labels,
          datasets: [
            {
              display: false,
              label: "Consumo",
              data: this.consumoMaquinarioGrafico2.datasets,
              backgroundColor: ["#2dce89"],
              borderColor: ["#2dcecc"],
              borderWidth: 1
            }
          ]
        }
      };
      var ctx = document.getElementById("myChart");
      this.myChart = new Chart(ctx, chartData);
      this.myChart.update();

      this.redBarChart.chartData.labels = this.fulldata.map(e => e.data);
      this.redBarChart.chartData.datasets[0].data = this.fulldata.map(
        e => e.p_prudtiva
      );
    },

    initTres() {
      if (this.myChart2 != false) {
        var oldcanvasid = this.myChart2.chart.ctx.canvas.id;
        if ("myChart2" == oldcanvasid) {
          this.myChart2.destroy();
        }
      }
      console.log(this.totalp_prudtiva);
      var chartData = {
        type: "bar",
        data: {
          labels: this.consumoMaquinarioGrafico2.labels,
          datasets: [
            {
              display: false,
              label: "Potencial Produtivo",
              data: this.totalp_prudtiva,
              backgroundColor: "#2dcecc",
              borderColor: "#2dce89",
              borderWidth: 1
            }
          ]
        }
      };
      var ctx = document.getElementById("myChart2");
      this.myChart2 = new Chart(ctx, chartData);
      this.myChart2.update();
    }
  },
  mounted() {
    //getData();
    this.initDois();
    this.initTres();
    this.initBigChart(0);

    setInterval(() => {
      this.bigLineChart.allData = [
        this.consumoMaquinarioGrafico[1],
        this.consumoMaquinarioGrafico[1]
      ];
      //this.initBigChart(0);
    }, 500);
  }
};
</script>
<style>
@import "~material-design-icons/iconfont/material-icons.css";

.md-menu-content-container {
  background: #fff;
}
.md-field {
  border-radius: 5px;
  background: #fff;
  padding: 10 !important;
}
</style>
