<template>
  <div>
    <base-header
      class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="min-height: 600px; background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"
    >
      <span class="mask bg-gradient-success opacity-4"></span>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="COMBUSTÍVEL TOTAL GASTO"
            type="gradient-red"
            :sub-title="combustivelTotal.toFixed(2).toString()+' lt'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="ÁREA COLHIDA"
            type="gradient-orange"
            :sub-title="areaColhida.toFixed(2).toString()+' ha'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TOTAL PRODUZIDO"
            type="gradient-green"
            :sub-title="`${totalProduzido.toFixed(2).toString()} ton`"
            icon="fa fa-tint"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="VELOCIDADE MÉDIA"
            type="gradient-info"
            :sub-title="velocidadeMedia.toFixed(2).toString()+' km/h'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO PARADO"
            type="gradient-red"
            :sub-title="tempoParado.toFixed(2).toString()+'%'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO DISPONÍVEL"
            type="gradient-orange"
            :sub-title="tempoDisponivel.toFixed(2).toString()+' %'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO COLHENDO"
            type="gradient-green"
            :sub-title="`${tempoColhendo.toFixed(2).toString()} %`"
            icon="fa fa-tint"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow border-0">
            <div
              id="map-canvas"
              class="map-canvas"
              data-lat="-17.069509"
              data-lng="-46.198855"
              style="height: 600px;"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  computed: mapState({
    count: state => state.count,
    fulldata: state => state.fulldata,
    veiculos: state => state.veiculos,
    combustivelTotal: state => state.combustivelTotal,
    totalProduzido: state => state.totalProduzido,
    areaColhida: state => state.areaColhida,
    velocidadeMedia: state => state.velocidadeMedia,
    tempoParado: state => state.tempoParado,
    tempoDisponivel: state => state.tempoDisponivel,
    tempoColhendo: state => state.tempoColhendo,
    totalp_prudtiva: state => state.totalp_prudtiva,
    consumoMaquinarioGrafico: state => state.consumoMaquinarioGrafico,
    consumoMaquinarioGrafico2: state => {
      return state.consumoMaquinarioGrafico2;
    }
  }),
  mounted() {
    //getData()
    let google = window.google;
    let map = document.getElementById("map-canvas");
    let lat = map.getAttribute("data-lat");
    let lng = map.getAttribute("data-lng");

    const myLatlng = new google.maps.LatLng(lat, lng);
    const mapOptions = {
      zoom: 12,
      scrollwheel: false,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
        {
          featureType: "administrative",
          elementType: "labels.text.fill",
          stylers: [{ color: "#444444" }]
        },
        {
          featureType: "landscape",
          elementType: "all",
          stylers: [{ color: "#f2f2f2" }]
        },
        {
          featureType: "poi",
          elementType: "all",
          stylers: [{ visibility: "off" }]
        },
        {
          featureType: "road",
          elementType: "all",
          stylers: [{ saturation: -100 }, { lightness: 45 }]
        },
        {
          featureType: "road.highway",
          elementType: "all",
          stylers: [{ visibility: "simplified" }]
        },
        {
          featureType: "road.arterial",
          elementType: "labels.icon",
          stylers: [{ visibility: "off" }]
        },
        {
          featureType: "transit",
          elementType: "all",
          stylers: [{ visibility: "off" }]
        },
        {
          featureType: "water",
          elementType: "all",
          stylers: [{ color: "#5e72e4" }, { visibility: "on" }]
        }
      ]
    };

    map = new google.maps.Map(map, mapOptions);

    const marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      animation: google.maps.Animation.DROP,
      title: "Hello World!"
    });

    const contentString =
      '<div class="info-window-content"><h2>Argon Dashboard</h2>' +
      "<p>A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</p></div>";

    const infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    google.maps.event.addListener(marker, "click", function() {
      infowindow.open(map, marker);
    });
  }
};
</script>
<style>
</style>
