<template>
  <div>
    <base-header
      class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="min-height: 600px; background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"
    >
      <span class="mask bg-gradient-success opacity-4"></span>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="COMBUSTÍVEL TOTAL GASTO"
            type="gradient-red"
            :sub-title="combustivelTotal.toFixed(2).toString()+' lt'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="ÁREA COLHIDA"
            type="gradient-orange"
            :sub-title="areaColhida.toFixed(2).toString()+' ha'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TOTAL PRODUZIDO"
            type="gradient-green"
            :sub-title="`${totalProduzido.toFixed(2).toString()} ton`"
            icon="fa fa-tint"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="VELOCIDADE MÉDIA"
            type="gradient-info"
            :sub-title="velocidadeMedia.toFixed(2).toString()+' km/h'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
      </div>

      <div class="row" style="margin-top: 30px;">
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO PARADO"
            type="gradient-red"
            :sub-title="tempoParado.toFixed(2).toString()+'%'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO DISPONÍVEL"
            type="gradient-orange"
            :sub-title="tempoDisponivel.toFixed(2).toString()+' %'"
            icon="fa fa-truck"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card
            title="TEMPO COLHENDO"
            type="gradient-green"
            :sub-title="`${tempoColhendo.toFixed(2).toString()} %`"
            icon="fa fa-tint"
            class="mb-4 mb-xl-0"
          ></stats-card>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
          <projects-table type="dark" title="MÁQUINARIO"></projects-table>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</template>
<script>
import ProjectsTable from "./Tables/ProjectsTable";
import { mapState } from "vuex";
export default {
  computed: mapState({
    count: state => state.count,
    fulldata: state => state.fulldata,
    veiculos: state => state.veiculos,
    combustivelTotal: state => state.combustivelTotal,
    totalProduzido: state => state.totalProduzido,
    areaColhida: state => state.areaColhida,
    velocidadeMedia: state => state.velocidadeMedia,
    tempoParado: state => state.tempoParado,
    tempoDisponivel: state => state.tempoDisponivel,
    tempoColhendo: state => state.tempoColhendo,
    totalp_prudtiva: state => state.totalp_prudtiva,
    consumoMaquinarioGrafico: state => state.consumoMaquinarioGrafico,
    consumoMaquinarioGrafico2: state => {
      return state.consumoMaquinarioGrafico2;
    }
  }),
  mounted() {
    //getData()
  },
  name: "Maquinas",
  components: {
    ProjectsTable
  }
};
</script>
<style></style>
