<template>
  <base-nav class="navbar-top navbar-dark" id="navbar-main" :show-toggle-button="false" expand>
    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <md-field style="margin:10px">
          <date-picker :format="momentFormat" v-model="time3" :lang="lang" range></date-picker>
        </md-field>
      </div>

      <div class="form-group mb-0">
        <md-field style="margin:10px">
          <label style="margin:10px">Selecione um veículo</label>
          <md-select style="margin:10px" v-model="selected" multiple>
            <md-option v-for="v in veiculos " v-bind:key="v" :value="v">{{v}}</md-option>
          </md-select>
        </md-field>
      </div>

      <div class="form-group mb-0">
        <base-input
          placeholder="Buscar"
          class="input-group-alternative"
          alternative
          addon-right-icon="fas fa-search"
        ></base-input>
      </div>
    </form>
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <base-dropdown class="nav-link pr-0">
          <div class="media align-items-center" slot="title">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="img/theme/img.png" />
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">Sandro Matias</span>
            </div>
          </div>

          <template>
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">BEM VINDO!</h6>
            </div>
            <router-link to="/profile" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Meu Perfil</span>
            </router-link>
            <router-link to="/profile" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Configurações</span>
            </router-link>
            <router-link to="/profile" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Atividade</span>
            </router-link>
            <router-link to="/profile" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Suporte</span>
            </router-link>
            <div class="dropdown-divider"></div>
            <router-link to="/profile" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Sair</span>
            </router-link>
          </template>
        </base-dropdown>
      </li>
    </ul>
  </base-nav>
</template>
<script>
import store from "@/store/store";
import { mapState } from "vuex";
import getData from "@/service/modules/getData";
import DatePicker from "vue2-datepicker";
import moment from "moment";
import "vue2-datepicker/index.css";

import "vue2-datepicker/locale/pt-br";
/* eslint-disable no-console */
export default {
  components: {
    "date-picker": DatePicker
  },
  computed: mapState({
    count: state => state.count,
    veiculos: state => state.veiculos
  }),
  watch: {
    selected: newW => {
      store.dispatch("setSelecionados", newW);
      getData();
    },
    time3: time => {
      store.dispatch("setDataFilter", time);
      getData();
    }
  },
  data() {
    return {
      momentFormat: {
        // Date to String
        stringify: date => {
          return date ? moment(date).format("LL") : "";
        },
        // String to Date
        parse: value => {
          return value ? moment(value, "LL").toDate() : null;
        }
      },
      time3: null,
      selected: [],
      activeNotifications: false,
      showMenu: false,
      searchQuery: "",
      lang: {
        formatLocale: {
          firstDayOfWeek: 1
        },
        monthBeforeYear: false
      }
    };
  },

  mounted() {
    getData();
  },
  methods: {
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },
    toggleMenu() {
      this.showMenu = !this.showMenu;
    }
  }
};
</script>
<style>
@import "~material-design-icons/iconfont/material-icons.css";

.md-menu-content-container {
  background: #fff;
}
.md-field {
  border-radius: 95px !important;
  background: #fff;
  padding: 10px !important;
}
.md-select-menu .md-menu-content-bottom-start {
  top: 81px !important;
}
.md-select-menu
  .md-menu-content-bottom-start
  .md-menu-content-small
  .md-menu-content
  .md-theme-default {
  top: 81px !important;
}
</style>
